@font-face {
    font-family: "DM Sans";
    src: url("../../../public/Assets/Fonts/DMSans-Medium.ttf");
}
@font-face {
    font-family: Chopper;
    src: url("../../../public/Assets/Fonts/Chopper.ttf");
}
:root {
    --bimantara:#0F52BA;
    --bimantaraLight: #4983DA;
    --kampana: #BA110C;
    --kampanaLight: #DD7A7A;
    --arsa: #FE7F9C;
    --arsaLight: #FFB8CB;
    --adhyasta: #000;
    --adhyastaLight: #494949;
    --syandana: #4D4D4D;
    --syandanaLight: #CCCCCC;
    --sambara: #9400D3;
    --sambaraLight: #CA66FF;
    --dayaka: #CCA88C;
    --dayakaLight: #F4D8C6;
    --sarwaga: #40A86A;
    --sarwagaLight: #78D69F;
    --prabangkara: #FF6000;
    --prabangkaraLight: #FF9966;
    --wiskira: #E1AD01;
    --wiskiraLight: #FFD469;
}

// WIDTH >= 1440
.FotoDivisi {
    display: flex;
    flex-direction: column;
    padding: 0 300px 10rem;
    margin: auto;
    background-image: url("../../../public/Assets/FotoDivisi/Background1920.svg");

    // SWIPER ANGGOTA
    .box-swiper-anggota {
        position: relative;

        .swiper {
            .swiper-wrapper {
                .swiper-slide {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    border-radius: 20px;;

                    .background {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(to bottom right, #FFDB7E, #D8A707);
                        border-radius: 20px;
                        z-index: -1;
                        filter: drop-shadow(0px 8px 22px rgba(0, 0, 0, 0.25));
                    }
                    .shadow {
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        bottom: 0;
                        border-radius: 20px;
                        background-image: linear-gradient(rgba(225,173,1,0), rgba(225,173,1,1));
                    }
                    .logo {
                        position: absolute;
                        width: 48px;
                        height: 48px;
                        top: 20px;
                        left: 20px;
                    }
                    .kupu-kupu {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }
                    .foto {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        // height: 100%;
                        height: auto;
                        z-index: -1;
                    }
                    .first {
                        margin-top: 120%;
                    }
                    .first, .last {
                        color: #FFF;
                        text-align: center;
                        text-shadow: 0px 4px 26px #000;
                        font-family: DM Sans;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        z-index: 2;
                    }
                    .job {
                        color: #FFF;
                        text-align: center;
                        text-shadow: 0px 4px 26px rgba(0, 0, 0, 0.72);
                        font-family: DM Sans;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        z-index: 2;
                        margin-top: 12px;
                        margin-bottom: 20px;
                    }
                }
            }
            .swiper-button-prev, .swiper-button-next {
                color: black;
                width: 40px;
                height: 40px;
                background-color: rgba(255, 255, 255, 0.60);
                border-radius: 50%;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(4px);
            }
            .swiper-button-next::before,
            .swiper-button-next::after,
            .swiper-button-prev::before,
            .swiper-button-prev::after {
                font-size: 12px;
                font-weight: bold;
            }
        }
        .swiper-pagination {
            position: absolute;
            bottom: -10%;
            .swiper-pagination-bullet {
                background-color: black;
                box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.25) inset;
            }
        }
    }

    .textFotoDivisi {
        font-family: DM Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        background: var(--heading, linear-gradient(180deg, #696969 0%, #000 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        margin-top: 120px;
        margin-bottom: 36px;
    }

    // SWIPER
    .box-swiper {
        margin-bottom: 16px;
        .swiper {
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 20px;
            margin-left: auto;
            margin-right: auto;
            background-color: transparent;

            .swiper-wrapper {
                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .swiper-slide img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }    
            .swiper-pagination {
                margin-bottom: 8px;
                .swiper-pagination-bullet {
                    background-color: white;
                }
            }
            .swiper-button-prev, .swiper-button-next {
                color: black;
                width: 40px;
                height: 40px;
                background-color: rgba(255, 255, 255, 0.60);
                border-radius: 50%;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(4px);
            }
            .swiper-button-prev {
                
            }
            .swiper-button-next::before,
            .swiper-button-next::after,
            .swiper-button-prev::before,
            .swiper-button-prev::after {
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

    // NAMA - NAMA ANGGOTA
    .box-anggota {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        .box {
            width: fit-content;
            block-size: fit-content;
            display: inline-flex;
            padding: 12px;
            align-items: flex-start;
            gap: 12px;
            border-radius: 16px;
            border: 2px solid var(--bimantara);
            background: rgba(17, 85, 187, 0.10);
            box-shadow: 0px 2px 0.5px 0px rgba(0, 0, 0, 0.25) inset;
            .jabatan {
                font-family: 'DM Sans';
                color: var(--bimantara);
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
            }
            .nama {
                font-family: 'DM Sans';
                color: #000;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0; 
            }
        }
    }
    .box-anggota-lain {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .box-koor {
            display: flex;
            padding: 12px;
            gap: 12px;
            border-radius: 16px;
            background: var(--kampana-primary, #B8110D);
            box-shadow: 0px 2px 0.5px 0px rgba(0, 0, 0, 0.25) inset;
            .jabatan {
                color: #FFF;
                font-family: DM Sans;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
            }
            .nama {
                flex: 1 0 0;
                color: #FFF;
                font-family: DM Sans;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0;
            }
        }
        .box-anggota {
            display: flex;
            padding: 12px;
            gap: 12px;
            border-radius: 16px;
            border: 2px solid var(--kampana-primary, #B8110D);
            background: var(--kampana-transparent, rgba(184, 17, 13, 0.10));
            box-shadow: 0px 2px 0.5px 0px rgba(0, 0, 0, 0.25) inset;
            .jabatan {
                color: var(--kampana-primary, #B8110D);
                font-family: DM Sans;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
            }
            .nama {
                flex: 1 0 0;
                color: #000;
                font-family: DM Sans;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0;
            }
        }
    }

    // DOKUMENTASI DIVISI
    .dokumentasi {
        margin-top: 100px;
        margin-bottom: 56px;
        .judul {
            font-family: DM Sans;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: fit-content;
            margin-top: 0;
            margin-bottom: 36px;
            background: var(--heading, linear-gradient(180deg, #696969 0%, #000 100%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .konten-foto {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto auto;
            justify-content: center;
            gap: 16px;
            .foto {
                max-width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes moveUp {
    from {
        margin-top: 100px;
    }
    to {
        margin-top: 0px;
    }
}

// MODAL
.comingsoon {
    position: fixed;
    z-index: 999;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    animation: fadein .3s;
    
    .modal-content {
        display: flex;
        color: white;
        font-family: 'Baloo 2', cursive;
        width: auto;
        height: auto;
    
        animation: moveUp .3s;

        .foto {
            width: 800px;
            margin: auto;
        }
    }
}

// WIDTH <= 1440 dan > 1200
@media screen and (max-width: 1440px) {
    .FotoDivisi {
        padding: 0 120px;

        .textFotoDivisi {
            font-size: 40px;
            margin-top: 100px;;
            margin-bottom: 24px;
        }

        // NAMA - NAMA ANGGOTA
        .box-anggota {    
            gap: 8px;
            .box {
                gap: 8px;
                .jabatan {
                    font-size: 20px;
                }
                .nama {
                    font-size: 20px;
                }
            }
        }
        .box-anggota-lain {
            gap: 8px;
            .box-koor {
                gap: 8px;
                .jabatan {
                    font-size: 20px;
                }
                .nama {
                    flex: 1 0 0;
                    color: #FFF;
                    font-family: DM Sans;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0;
                }
            }
            .box-anggota {
                gap: 8px;
                .jabatan {
                    font-size: 20px;
                }
                .nama {
                    font-size: 20px;
                }
            }
        }
    
        // DOKUMENTASI DIVISI
        .dokumentasi {
            margin-top: 80px;
            .judul {
                font-size: 40px;
                margin-bottom: 36px;
            }
            .konten-foto {
                gap: 12px;
            }
        }
    }

    // MODAL
    .comingsoon {
        position: fixed;
        z-index: 999;
        padding-top: 5%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        
        .modal-content {
            display: flex;
            color: white;
            font-family: 'Baloo 2', cursive;
            width: auto;
            height: auto;

            .foto {
                width: 700px;
                margin: auto;
            }
        }
    }
}

// WIDTH 1439 - 1200
@media screen and (max-width: 1200px) {
    .FotoDivisi {
        padding: 0 120px;

        // SWIPER ANGGOTA
        .box-swiper-anggota {
            position: relative;

            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .logo {
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            top: 15px;
                            left: 15px;
                        }
                        .foto {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: auto;
                            z-index: -1;
                        }
                        .first {
                            margin-top: 115%;
                        }
                        .first, .last {
                            font-size: 20px;
                        }
                        .job {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    // MODAL
    .comingsoon {
        position: fixed;
        z-index: 999;
        padding-top: 10%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        
        .modal-content {
            display: flex;
            color: white;
            font-family: 'Baloo 2', cursive;
            width: auto;
            height: auto;

            .foto {
                width: 600px;
                margin: auto;
            }
        }
    }
}

// WIDTH 1199 - 810
@media screen and (max-width: 810px) {
    .FotoDivisi {
        padding: 0 48px;

        // SWIPER ANGGOTA
        .box-swiper-anggota {
            position: relative;

            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .logo {
                            position: absolute;
                            width: 32px;
                            height: 32px;
                            top: 8px;
                            left: 8px;
                        }
                        .foto {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: auto;
                            z-index: -1;
                        }
                        .first {
                            margin-top: 110%;
                        }
                        .first, .last {
                            font-size: 16px;
                        }
                        .job {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .textFotoDivisi {
            font-size: 28px;
            margin-top: 80px;;
            margin-bottom: 16px;
        }

        // SWIPER
        .box-swiper {
            margin-bottom: 8px;
            .swiper {
                border-radius: 12px;
                margin-left: auto;
                margin-right: auto;
                background-color: transparent;
                .foto {
                    border-radius: 12px;
                }
                .shadow-top {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25) inset;
                    border-radius: 12px;
                    top: 0;
                    left: 0;
                }
                .shadow-bottom {
                    position: absolute;
                    width: 100%;
                    height: 20%;
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                    bottom: 0;
                    left: 0;
                    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
                }
            }
        }

        // NAMA - NAMA ANGGOTA
        .box-anggota {
            gap: 4px;
            .box {
                border-radius: 12px;
                padding: 8px;
                gap: 4px;
                .jabatan {
                    font-size: 14px;
                }
                .nama {
                    font-size: 14px;
                }
            }
        }
        .box-anggota-lain {
            gap: 4px;
            .box-koor {
                border-radius: 12px;
                padding: 8px;
                gap: 4px;
            }
            .box-anggota {
                border-radius: 12px;
                padding: 8px;
                gap: 4px;
            }
        }

        // DOKUMENTASI DIVISI
        .dokumentasi {
            margin-top: 60px;
            .judul {
                font-size: 28px;
                margin-bottom: 20px;
            }
            .konten-foto {
                gap: 8px;
                .foto {
                    border-radius: 12px;
                }
            }
        }
    }

    // MODAL
    .comingsoon {
        position: fixed;
        z-index: 999;
        padding-top: 20%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        
        .modal-content {
            display: flex;
            color: white;
            font-family: 'Baloo 2', cursive;
            width: auto;
            height: auto;

            .foto {
                width: 400px;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .FotoDivisi {
        // SWIPER ANGGOTA
        .box-swiper-anggota {
            position: relative;

            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .logo {
                            position: absolute;
                            width: 28px;
                            height: 28px;
                            top: 8px;
                            left: 8px;
                        }
                        .first {
                            margin-top: 100%;
                        }
                        .first, .last {
                            font-size: 14px;
                        }
                        .job {
                            font-size: 8px;
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
    }
}

// WIDTH 809 - 432
@media screen and (max-width: 432px) {
    .FotoDivisi {
        padding: 0 16px;

        // SWIPER ANGGOTA
        .box-swiper-anggota {
            position: relative;

            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .logo {
                            position: absolute;
                            width: 24px;
                            height: 24px;
                            top: 4px;
                            left: 4px;
                        }
                        .first {
                            margin-top: 100%;
                        }
                        .first, .last {
                            font-size: 10px;
                        }
                        .job {
                            font-size: 6px;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
        .textFotoDivisi {
            font-size: 24px;
            margin-top: 60px;;
            margin-bottom: 8px;
        }

        // SWIPER
        .box-swiper {
            margin-bottom: 8px;
            .swiper {
                width: 100%;
                aspect-ratio: none;
                height: 64vw;
                border-radius: 12px;
                .swiper-pagination {
                    margin-bottom: 4px;
                }
                .swiper-button-prev, .swiper-button-next {
                    background-color: rgba(255, 255, 255, 0.40);
                    backdrop-filter: blur(4px);
                }
                .swiper-button-next::before,
                .swiper-button-next::after,
                .swiper-button-prev::before,
                .swiper-button-prev::after {
                    font-size: 8px;
                    font-weight: bold;
                }
            }
        }

        // NAMA - NAMA ANGGOTA
        .box-anggota {
            gap: 4px;
            .box {
                border-radius: 8px;
                padding: 4px;
                gap: 4px;
                border: 1px solid var(--bimantara);
                box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.25) inset;
                .jabatan {
                    font-size: 12px;
                }
                .nama {
                    font-size: 12px;
                }
            }
        }
        .box-anggota-lain {
            gap: 4px;
            .box-koor {
                border-radius: 8px;
                padding: 4px;
                gap: 4px;
                box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.25) inset;
                .nama {
                    font-size: 12px;
                }
                .jabatan {
                    font-size: 12px;
                }
            }
            .box-anggota {
                border-radius: 8px;
                padding: 4px;
                gap: 4px;
                border: 1px solid var(--kampana-primary, #B8110D);
                box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.25) inset;
                .nama {
                    font-size: 12px;
                }
                .jabatan {
                    font-size: 12px;
                }
            }
        }

        // DOKUMENTASI DIVISI
        .dokumentasi {
            margin-top: 40px;
            .judul {
                font-size: 24px;
                margin-bottom: 16px;
            }
            .konten-foto {
                grid-template-columns: auto auto;
                gap: 4px;
                .foto {
                    border-radius: 8px;
                }
            }
        }
    }

    // MODAL
    .comingsoon {
        position: fixed;
        z-index: 999;
        padding-top: 55%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        
        .modal-content {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-family: 'Baloo 2', cursive;
            width: auto;
            height: auto;

            .foto {
                width: 300px;
                margin: auto;
            }
        }
    }
}