@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

.navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  /* overflow: hidden; */
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}

.dropdown .dropbtn {
  display: flex;
  width: 100%;
  padding: 8px 25px 10px 25px;
  justify-content: space-between;
  align-items: center;
  border-radius: 44px;
  border: 4px solid white;
  background: var(--primary-new, linear-gradient(180deg, #DE6E50 0%, #92463B 100%));
  box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.25) inset, 0px 6px 6px 0px rgba(0, 0, 0, 0.20);
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  margin-left: 1rem;
}

/* .navbar a:hover,
.dropdown:hover .dropbtn {
  border: 1px solid red;
} */

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 100%;
  width: 83%;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  border-radius: 12px;
  background: lightgray 50% / cover no-repeat, rgba(255, 255, 255, 0.70);
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
}

.dropdown-content a {
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  background: var(--text-nav, linear-gradient(180deg, #7D7D7D 0%, #737373 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown-content a.active {
  display: flex;
  background: var(--heading, linear-gradient(180deg, #696969 0%, #000 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  gap: 0.5rem;
}

.back-btn {
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  aspect-ratio: 1/1;
  border: none;
  background: lightgray 50% / cover no-repeat, rgba(255, 255, 255, 0.70);
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
  justify-content: center;
  align-items: center;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 24px;
  cursor: pointer;
  /* margin: auto; */
  display: block;
  height: calc(3px * 3 + 11px * 2);
  /* Adjusted based on new bar height */
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  /* Adjusted bar height */
  border-radius: calc(3px / 2);
  /* Adjusted border radius */
  background: white;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
  bottom: calc(50% + 5px + 3px/ 2);
  /* Adjusted based on new bar height */
  transition-property: bottom, transform;
  transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
  top: calc(50% - 3px/ 2);
  /* Adjusted based on new bar height */
  transition-property: opacity;
  transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
  top: calc(50% + 5px + 3px/ 2);
  /* Adjusted based on new bar height */
  transition-property: top, transform;
  transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox:checked+.toggle .bar--top {
  bottom: calc(50% - 3px/ 2);
  /* Adjusted based on new bar height */
  transform: rotate(135deg);
  transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--middle {
  opacity: 0;
  transition-duration: 0s;
  transition-delay: calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--bottom {
  top: calc(50% - 3px/ 2);
  /* Adjusted based on new bar height */
  transform: rotate(225deg);
  transition-delay: 0s, calc(0s + 0.35s);
}