@font-face {
  font-family: "DM Sans";
  src: url("../../../public/Assets/Fonts/DMSans-Medium.ttf");
}
@font-face {
  font-family: Chopper;
  src: url("../../../public/Assets/Fonts/Chopper.ttf");
}

:root {
  --bimantara: #1052b8;
  --kampana: #b8110d;
  --arsa: #fd7f9b;
  --adhyasta: #000;
  --syandana: #4d4d4d;
  --sambara: #9300d2;
  --dayaka: #cba78b;
  --sarwaga: #41a76a;
}

// WIDTH 1920
.HariPelaksanaan {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 300px;
  padding-top: 0px;
  margin: auto;
  background-image: url("../../../public/Assets/FotoDivisi/Background1920.svg");
  .pohon {
    background-image: url("../../../public/Assets/AsetAnanta/Pohon.png");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
  }
  .timeline {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 16px;
    .timeline-card {
      background-size: cover;
      background-repeat: no-repeat;
      padding: 16px;
      padding-top: 677px;
      background-position: center;
      border-radius: 20px;
      .timeline-card-day {
        font-size: 20px;
        color: white;
        font-family: "DM Sans";
      }
      .timeline-card-title {
        font-size: 32px;
        font-weight: bold;
        color: white;
        font-family: "DM Sans";
      }
    }
  }

  // JUDUL
  .heading {
    display: flex;
    margin-bottom: 36px;

    align-items: center;

    .logo {
      width: 100px;
      height: auto;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 20px;
    }

    .logo:hover {
      cursor: pointer;
    }

    .judul {
      .nama {
        font-family: "DM Sans";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        margin: 0;

        background: var(--heading, linear-gradient(180deg, #696969 0%, #000 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .job {
        font-family: "DM Sans";
        color: #545454;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}

// WIDTH 1919 - 1440
@media screen and (max-width: 1440px) {
  .HariPelaksanaan {
    padding: 120px;
    padding-top: 0px;
    .timeline {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 16px;
      .timeline-card {
        padding-top: 150px;
        border-radius: 15px;
        .timeline-card-day {
          font-size: 20px;
        }
        .timeline-card-title {
          font-size: 32px;
        }
      }
    }

    // JUDUL
    .heading {
      display: flex;
      margin-bottom: 36px;

      .logo {
        width: 82px;
        height: auto;
        margin-right: 20px;
      }

      .logo:hover {
        cursor: pointer;
      }

      .judul {
        .nama {
          font-size: 40px;
        }

        .job {
          font-size: 20px;
        }
      }
      .container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

// WIDTH 1439 - 1200
@media screen and (max-width: 1200px) {
  .HariPelaksanaan {
    padding: 120px;
    padding-top: 0px;
    .pohon {
      display: none;
    }
    .timeline {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 16px;
      .timeline-card {
        padding-top: 150px;
        border-radius: 15px;
        .timeline-card-day {
          font-size: 20px;
        }
        .timeline-card-title {
          font-size: 32px;
        }
      }
    }
  }
}

// WIDTH 1199 - 810
@media screen and (max-width: 810px) {
  .HariPelaksanaan {
    padding: 48px;
    padding-top: 0px;
    .pohon {
      display: none;
    }
    .timeline {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 16px;
      .timeline-card {
        padding-top: 150px;
        border-radius: 15px;
        .timeline-card-day {
          font-size: 14px;
        }
        .timeline-card-title {
          font-size: 22px;
        }
      }
    }
    // JUDUL
    .heading {
      margin-bottom: 24px;

      .logo {
        width: 48px;
        margin-right: 12px;
      }

      .judul {
        .nama {
          font-size: 28px;
        }

        .job {
          font-size: 14px;
        }
      }
    }
  }
}

// WIDTH 809 - 390
@media screen and (max-width: 432px) {
  .HariPelaksanaan {
    padding: 16px;
    padding-top: 0px;
    .pohon {
      display: none;
    }
    .timeline {
      display: grid;
      grid-template-columns: repeat(1, auto);
      gap: 16px;
      .timeline-card {
        padding-top: 150px;
        border-radius: 15px;
        .timeline-card-day {
          font-size: 12px;
        }
        .timeline-card-title {
          font-size: 18px;
        }
      }
    }

    // JUDUL
    .heading {
      margin-bottom: 16px;

      .logo {
        width: 40px;
        margin-right: 8px;
      }

      .judul {
        .nama {
          font-size: 24px;
        }

        .job {
          font-size: 12px;
        }
      }
    }
  }
}
