@font-face {
    font-family: "DM Sans";
    src: url("../../../public/Assets/Fonts/DMSans-Medium.ttf");
}
@font-face {
    font-family: Chopper;
    src: url("../../../public/Assets/Fonts/Chopper.ttf");
}
:root {
    --bimantara:#1052B8;
    --kampana:#B8110D;
    --arsa: #FD7F9B;
    --adhyasta: #000;
    --syandana: #4D4D4D;
    --sambara: #9300D2;
    --dayaka: #CBA78B;
    --sarwaga: #41A76A;
}

.heading {
    display: flex;
    margin-bottom: 36px;
    align-items: center;
    .logo {
        width: 100px;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
    }
    .logo:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 1440px) {
    .heading {
        display: flex;
        margin-bottom: 36px;
        .logo {
            width: 82px;
            height: auto;
            margin-right: 20px;
        }
        .logo:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 810px) {
    .heading {
        margin-bottom: 24px;
        .logo {
            width: 48px;
            margin-right: 12px;
        }
    }
}

@media screen and (max-width: 432px) {
    .heading {
        margin-bottom: 16px;
        .logo {
            width: 40px;
            margin-right: 8px;
        }
    }
}